body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body .timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  background: #8585ff;
}

body .timer .line {
  z-index: 1;
  width: 100%;
  height: 30px;
  background: #6a6acc;
}

body .question {
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

body .question h1 {
  text-align: center;
  margin-top: 15vh;
  color: #444;
  font-size: 2.4rem;
  padding: 0 10px;
}

@media only screen and (max-width: 650px) {
  body .question h1 {
    font-size: 2rem;
    margin-top: 17vh;
  }
}

body .nextBox {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
  margin: 0 40px;
}

@media only screen and (max-width: 650px) {
  body .nextBox {
    margin: 0;
  }
}

body .nextBox .col-md-6,
body .nextBox .col-lg-3 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
      align-items: flex-end;
}

@media only screen and (max-width: 650px) {
  body .nextBox .col-md-6,
  body .nextBox .col-lg-3 {
    padding: 0 7px;
  }
}

body .nextBox .col-md-6 .nextBtn,
body .nextBox .col-lg-3 .nextBtn {
  text-align: center;
  height: 80%;
  width: 100%;
  background: gold;
  border: none;
  border-radius: 25px;
  border-bottom: 7px solid #c4c000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  -webkit-transition: .3s;
  transition: .3s;
  display: none;
}

body .nextBox .col-md-6 .nextBtn:hover,
body .nextBox .col-lg-3 .nextBtn:hover {
  border-bottom: none;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  body .nextBox .col-md-6 .nextBtn,
  body .nextBox .col-lg-3 .nextBtn {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 650px) {
  body .nextBox .col-md-6 .nextBtn,
  body .nextBox .col-lg-3 .nextBtn {
    font-size: 1rem;
    border-bottom: 4px solid #c4c000;
    height: 70%;
  }
}

body .answersBox {
  height: 40vh;
  margin: 0 40px;
}

@media only screen and (max-width: 650px) {
  body .answersBox {
    margin: 0;
  }
}

body .answersBox .col-md-6,
body .answersBox .col-lg-3 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

@media only screen and (max-width: 1100px) {
  body .answersBox .col-md-6,
  body .answersBox .col-lg-3 {
    height: 45%;
  }
}

@media only screen and (max-width: 650px) {
  body .answersBox .col-md-6,
  body .answersBox .col-lg-3 {
    padding: 0 7px;
  }
}

body .answersBox .col-md-6 .answer,
body .answersBox .col-lg-3 .answer {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  height: 80%;
  width: 100%;
  background: #8585ff;
  border-radius: 25px;
  border-bottom: 10px solid #6a6acc;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 1100px) {
  body .answersBox .col-md-6 .answer,
  body .answersBox .col-lg-3 .answer {
    height: 100%;
  }
}

@media only screen and (max-width: 650px) {
  body .answersBox .col-md-6 .answer,
  body .answersBox .col-lg-3 .answer {
    font-size: 0.9rem;
    border-radius: 15px;
    border-bottom: 5px solid #6a6acc;
  }
}

body .answersBox .col-md-6 .answer:hover,
body .answersBox .col-lg-3 .answer:hover {
  border-bottom: none;
  cursor: pointer;
}

body .scoreBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

body .scoreBox .score {
  width: 50%;
  height: 50%;
  background: #ffd700;
  -webkit-box-shadow: 15px 15px 0px 0px #bf9700;
          box-shadow: 15px 15px 0px 0px #bf9700;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: none;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  body .scoreBox .score {
    width: 90%;
    height: 40%;
    -webkit-transform: translate(5%, 60%);
    transform: translate(5%, 60%);
    -webkit-box-shadow: 8px 8px 0px 0px #bf9700;
            box-shadow: 8px 8px 0px 0px #bf9700;
  }
}

body .scoreBox .score .scoreTitle {
  height: 100%;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

@media only screen and (max-width: 650px) {
  body .scoreBox .score .scoreTitle {
    font-size: 1.5rem;
    margin-top: 0px;
    height: 80%;
  }
}

body .scoreBox .score .return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: 1.5rem;
  width: 40%;
  height: 45px;
  background: #8585ff;
  border: none;
  -webkit-box-shadow: 7px 7px 0px 0px #6a6acc;
          box-shadow: 7px 7px 0px 0px #6a6acc;
  margin: auto;
  display: block;
  margin-bottom: 30px;
  bottom: 0px;
}

@media only screen and (max-width: 650px) {
  body .scoreBox .score .return {
    width: 40%;
    height: 35px;
    margin-bottom: 25px;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */